<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="Tree history visualization tool" />
        <meta name="keywords" content="aspen,tree,history,visualization,ad,hoc,analysis" />
        <meta name="author" content="Kevin Y. Chen" />
        <link href='http://fonts.googleapis.com/css?family=Lato|Gentium+Basic' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
        <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <title>Aspen</title>
    </head>
    <body>
        <div id="wrapper960" class="clearfix">
            <div id="toplinks">
                <ul class="toplinks_links">
                    <li id="hometitle"><a href="/">Aspen</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">About Aspen</a></li>
                </ul>
            </div>
            <div id="header" class="clearfix shadow">
                <div id="sitetitle" class="clearfix">
                    <h1><a href="#"><%= name %></a></h1>
                </div>
                <div id="nav" class="clearfix">
                    <ul>
                        <li><span id="nav-save">Save</span></li>
                        <li><span>Select</span></li>
                        <li><span>Copy</span></li>
                        <li><span>Apply</span></li>
                    </ul>
                </div>
            </div>
            <div id="canvas-container">
                <div id="canvas"></div>
            </div>
            <div id="content" class="clearfix shadow">
                <h2>Aspen: visualizing your entire workflow</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div id="footer" class="shadow">
                <p>&copy; 2014 Kevin Y. Chen | <a href="http://andreasviklund.com/templates/inland-forest/">Template design</a> by <a href="http://andreasviklund.com/">andreasviklund.com</a></p>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        google.load('visualization', '1', {packages:['orgchart']});
        $(document).ready(function() {
            projectId = <%= projectId %>;
            google.setOnLoadCallback(function() {
                addListeners();
            });
        });
    </script>
</html>
